/**
  Declarations
**/

/* colors */
$main-color: #FFD275;
$alt-color: #E8AE68;
$charcoal: #534B3C;
$dark-brown: #A57F60;
$flesh: #E3A587;
$red: #DB5A42;
$max-width: 1200px;
$body-font: 'Ubuntu', sans-serif;
$heading-font: Impact;

/* extender */

%with-bg_border {
  padding: 20px;
  border: 3px solid $charcoal;
  border-radius: 10px;
  color: $charcoal;
  background-color: $alt-color;
}

/* fonts */
@fontface {
  font-family: "Impact";
  src: url('../fonts/impact.ttf') format("ttf");
}

@fontface {
  font-family: "MixDirections";
  src: url('../fonts/MixDirections.ttf') format("ttf");
}

/**
  General
**/
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: $main-color;
  font-family: $body-font;
}

a {
  font-family: $body-font;
}

.err {
  color: red;
}

.wrapper {
  max-width: $max-width;
  margin: 0 auto;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $heading-font;
  font-weight: inherit;
}

.charcoal {
  color: $charcoal;
}

/**
  Header
**/

#header {
  background-color: $dark-brown;
  height: 120px;
  padding: 10px 0;
}

#logo,
#menu {
  flex: 1 0 0;
}

#menu ul{
  text-align: right;
  list-style: none;
  padding: 0;
  li {
    display: inline-flex;
    margin: 0 20px;
    a {
      font-family: $heading-font;
      color: #fff;
      font-size: 24px;
      text-decoration: none;
      padding: 0 20px;
      border-radius: 15px;
      border: 3px solid transparent;
      &:hover {
        background-color: $main-color;
        color: $charcoal;
        border-color: $charcoal;
      }
    }
  }
}

/**
  Body
**/
.registration__form,
.login__form {
  width: 400px;
  margin: 0 auto;
  @extend %with-bg_border;
  h2{
    font-size: 2em;
    letter-spacing: 1px;
  }

  button {
    background-color: $charcoal;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
  }
}

.form__block {
  flex: 1 100%;
  text-align: center;
  margin-bottom: 10px;
  input[type="text"],
  input[type="password"],
  button {
    width: 190px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
  }
}

.block,
div[class^="profile"] {
  flex: 1 100%;
  text-align: center;
  padding: 20px 0;
}

.achievements__item {
  display: inline-flex;
  padding: 20px;
}

#playing-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#challenge-canvas {
  border: 5px solid $dark-brown;
  background: $alt-color;
  border-radius: 10px;
  padding: 1px;
}

#coding-area {
  .action-buttons,
  .movement-buttons {
    vertical-align: middle;
    padding: 10px 20px;
    margin-left: 10px;
    border: 3px solid $dark-brown;
    border-radius: 10px;
    background-color: $alt-color;
    color: $red;
    font-family: $heading-font;
    font-weight: inherit;
    font-size: 24px;
    display: inline-flex;
    align-items: center;

    &:before,
    &:after {
      display: inline-flex;
      font-family: MixDirections;
      vertical-align: middle;
      font-size: 2.8em;
    }
  }
}

#turn-left:before {
  content: "v";
  padding-right: 10px;
}
#move-forward:after {
  content: "L";
  padding-left: 10px;
}
#turn-right:after {
  content: "V";
  padding-left: 10px;
}

.btn__block {
  display: flex;
  margin-bottom: 10px;
}
