/**
  Declarations
**/
/* colors */
/* extender */
#move-list, .registration__form,
.login__form {
  padding: 20px;
  border: 3px solid #534B3C;
  border-radius: 10px;
  color: #534B3C;
  background-color: #E8AE68;
}

/* fonts */
@fontface {
  font-family: "Impact";
  src: url("../fonts/impact.ttf") format("ttf");
}
@fontface {
  font-family: "MixDirections";
  src: url("../fonts/MixDirections.ttf") format("ttf");
}
/**
  General
**/
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFD275;
  font-family: "Ubuntu", sans-serif;
}

a {
  font-family: "Ubuntu", sans-serif;
}

.err {
  color: red;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Impact";
  font-weight: inherit;
}

.charcoal {
  color: #534B3C;
}

/**
  Header
**/
#header {
  background-color: #A57F60;
  height: 120px;
  padding: 10px 0;
}

#logo,
#menu {
  flex: 1 0 0;
}

#menu ul {
  text-align: right;
  list-style: none;
  padding: 0;
}
#menu ul li {
  display: inline-flex;
  margin: 0 20px;
}
#menu ul li a {
  font-family: "Impact";
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  padding: 0 20px;
  border-radius: 15px;
  border: 3px solid transparent;
}
#menu ul li a:hover {
  background-color: #FFD275;
  color: #534B3C;
  border-color: #534B3C;
}

/**
  Body
**/
.registration__form,
.login__form {
  width: 400px;
  margin: 0 auto;
}
.registration__form h2,
.login__form h2 {
  font-size: 2em;
  letter-spacing: 1px;
}
.registration__form button,
.login__form button {
  background-color: #534B3C;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
}

.form__block {
  flex: 1 100%;
  text-align: center;
  margin-bottom: 10px;
}
.form__block input[type=text],
.form__block input[type=password],
.form__block button {
  width: 190px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
}

.block,
div[class^=profile] {
  flex: 1 100%;
  text-align: center;
  padding: 20px 0;
}

.achievements__item {
  display: inline-flex;
  padding: 20px;
}

#playing-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

#challenge-canvas {
  border: 5px solid #A57F60;
  background: #E8AE68;
  border-radius: 10px;
  padding: 1px;
}

#coding-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 0 20px;
}
#coding-area .action-buttons,
#coding-area .movement-buttons {
  vertical-align: middle;
  padding: 10px 20px;
  margin-left: 10px;
  border: 3px solid #A57F60;
  border-radius: 10px;
  background-color: #E8AE68;
  color: #DB5A42;
  font-family: "Impact";
  font-weight: inherit;
  font-size: 24px;
  display: inline-flex;
  align-items: center;
}
#coding-area .action-buttons:before, #coding-area .action-buttons:after,
#coding-area .movement-buttons:before,
#coding-area .movement-buttons:after {
  display: inline-flex;
  font-family: "MixDirections";
  vertical-align: middle;
  font-size: 2.8em;
}
#coding-area .action-buttons:before,
#coding-area .movement-buttons:before {
  padding-right: 10px;
}
#coding-area .action-buttons:after,
#coding-area .movement-buttons:after {
  padding-left: 10px;
}

#start-button:before {
  content: "8";
}

#quit-button:after {
  content: "K";
}

#undo-button:before {
  content: "v";
}

#turn-left:before {
  content: "c";
}

#move-forward:after {
  content: "G";
}

#turn-right:after {
  content: "C";
}

.btn__block {
  display: flex;
  margin-bottom: 10px;
}

#score {
  color: #DB5A42;
  text-align: left;
  padding: 20px 20px 0;
}

#play {
  flex: 1 100%;
}

#move-list {
  height: 320px;
  overflow: auto;
  text-align: left;
}
#move-list::-webkit-scrollbar {
  width: 6px;
  background-color: #A57F60;
}
#move-list::-webkit-scrollbar-thumb {
  background-color: #534B3C;
  border-radius: 20px;
}

/*# sourceMappingURL=code.css.map */
