.flex-container {
	display: flex;
	flex-wrap: wrap;
}

#playing-area {
	flex: 2 0 0;
}

#coding-area {
	flex: 1 0 0;
}

#coding-area .action-buttons:disabled, #coding-area .movement-buttons:disabled {
	color: grey;
	background: #FFF;
}

/* Result Modal */

#result-modal {
	display: none;
	width: 50%;
	height: 50%;
	position: absolute;
	top: 25%;
	left: 25%;
	background: #FFF;
	z-index: 1;
}

/* Stage Picker */

#stage-form {
	display: flex;
	flex-flow: row wrap;
}

.stage-preview {
	width: 100%;
}

.stage-button {
	max-width: 23%;
	flex: 23%;
	margin: 0.5% 1%;
	background: #FFF;
	border: none;
	cursor: pointer;
	padding: 0;
}